.movie-details {
    margin: 1rem;
}

/* Youtube Player */
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: #e9e9e9;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-container iframe {
  width: 640px;
  height: 390px;
}

.hidden {
  display: none;
}

.movie-heading {
    font-size: 18px;
    font-weight: 600;
    margin-top: 1.5rem;
    color: var(--sec-color);
}

.movie-rating {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.movie-type {
    background-color: #cfcfcf;
    color: var(--sec-color);
    padding: 0.5rem 1rem;
    margin-right: 0.3rem;
    border-radius: 5px;
}
.movie-about {
    color: #4d4d4d;
    font-family: Arial, Helvetica, sans-serif;
}

.cast-container {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scrollbar-width: none;
}

.cast-image {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
}

.cast-name {
    font-size: 14px;
}


@media screen and (max-width:450px) {

    .video-container {
      display: block;
    }
  
    .video-responsive iframe {
      width: 100%;
      height: 250px;
    }
  }